<article class="card">
    <div class="contenido">
        <div class="avatar">
            <p-avatar  styleClass="mr-2" size="xlarge" shape="circle" icon="pi pi-map-marker"></p-avatar>
        </div>

        <article style="margin-left: var(--spacing-3);">
            <p style="font-size: var(--text-2xl) ;">DIRECCION 1</p>
            <p style="font-size: var(--text-base);">Panama</p>
            <p style="font-size: var(--text-base);">El dorado, centro de distribucion</p>
            <p style="font-size: var(--text-base);margin-bottom:var(--spacing-3);">P1, B Local 3</p>

            <p style="font-size: var(--text-sm) ;">Telefono: 6777-7777</p>
        </article>
    </div>
</article>
