body
{
    margin: 0;
}

.container{
    display: flex;
    place-content: center;
}
.centro-container{
    display: flex;
    place-content: center;
    justify-content: center;
    width: 40rem;
    height: 30rem;
    background-color: rgba(56, 60, 64, 0.32);
    flex-direction: column;

}

form {
    margin-left: 4rem;

}
