.tableoftwo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.header{
    display: flex;
}
section{
    display: flex;
    justify-content: flex-end;
}
.segment{
    margin-top: 30px;
}
h4{
    margin-left: 10px;
    margin-bottom: 5px;
    color: gray;
    font-size: 12px;
}
h3{
    margin-bottom: 0px;
}
form{
    padding-top: 19px;
}
