

<form action="" class="spacing">
    <h1>INFORME DE INVENTARIO</h1>
    <!-- Nombre del informe -->
    <div >
        <span class="p-float-label">
        <input pInputText id="nameInforme" />
        <label htmlFor="username">Nombre del Informe</label>
        </span>
    </div>

    <h2>Formato del informe</h2>
    <p-dropdown [ngModelOptions]="{standalone: true}" [options]="formatos" [(ngModel)]="selectedFormato" optionLabel="nameFormato"></p-dropdown><br>

    <h2>Tipo de informe</h2>
    <p-dropdown [ngModelOptions]="{standalone: true}" [options]="tiposReportes" [(ngModel)]="selectedTipos" optionLabel="nameTipos"></p-dropdown>
    <!-- SEGMENTOS -->
    <div><!-- PRECIO -->
        <h2>Segmentar según: </h2>
        <h3>Precio</h3>
        <span class="p-float-label ">
            <p-inputNumber inputId="currency-us" mode="currency" currency="USD" locale="en-US"> </p-inputNumber>
            <label htmlFor="number-input">Minimo</label>
        </span><br>
        <span class="p-float-label">
            <p-inputNumber inputId="currency-us" mode="currency" currency="USD" locale="en-US"> </p-inputNumber>
            <label htmlFor="number-input">Máximo</label>
        </span>

        <!-- CANTIDA -->
        <div class="card flex flex-wrap gap-3 p-fluid">
            <h3>Cantidad en Stock</h3>
            <label class="mb-2 block font-bold" for="stacked">Minima</label>
            <p-inputNumber [showButtons]="true" inputId="stacked" > </p-inputNumber>
            <br><br>
            <label class="mb-2 block font-bold" for="stacked">Máxima</label>
            <p-inputNumber [showButtons]="true" inputId="stacked" > </p-inputNumber>
        </div>

        <!-- TIPO PRODUCTO -->
        <div>
            <h3>Tipo de producto</h3>
            <p-multiSelect [ngModelOptions]="{standalone: true}" [options]="segmentos" [(ngModel)]="selectedSegmentos" defaultLabel="Elija un una segmentación" optionLabel="nameSegmento" display="chip"></p-multiSelect>
        </div>

        <div> <!-- TIPO CATEGORIA -->
            <h3>Categoria</h3>
            <p-multiSelect [ngModelOptions]="{standalone: true}" [options]="segmentos" [(ngModel)]="selectedSegmentos" defaultLabel="Elija un una segmentación" optionLabel="nameSegmento" display="chip"></p-multiSelect>
        </div>

        <div> <!-- TIPO MARCA -->
            <h3>Marca</h3>
            <p-multiSelect [ngModelOptions]="{standalone: true}" [options]="segmentos" [(ngModel)]="selectedSegmentos" defaultLabel="Elija un una segmentación" optionLabel="nameSegmento" display="chip"></p-multiSelect>
        </div>
        <p-button label="Generar Informe" [loading]="loading" loadingIcon="pi pi-spinner" (onClick)="load()"></p-button>
    </div>
</form>
