<form action="" class="">
    <div class="header">
        
            <span class="p-float-label">
                <input pInputText id="nameInforme" />
                <label for="float-label">Nombre del Informe</label>
            </span>
    
            <span class="p-float-label ">
                <p-dropdown [ngModelOptions]="{standalone: true}" [options]="formatos" [(ngModel)]="selectedFormato" optionLabel="nameFormato"></p-dropdown>
                <label for="float-label">Formato</label>
            </span>

    </div>
    <span class="p-float-label segment">
        <p-dropdown  [ngModelOptions]="{standalone: true}" [options]="tiposReportes" [(ngModel)]="selectedReportes" optionLabel="nameReportes"></p-dropdown>
        <label for="float-label">Departamento</label>
    </span>
    
    <br>
    
    <h3>Segmentar según: </h3>
    <h3>Precio</h3>
    <div>
        <div>
            <div class="header segment">
                <span class="p-float-label">
                    <p-inputNumber inputId="currency-us" mode="currency" currency="USD" locale="en-US"> </p-inputNumber>
                    <label htmlFor="number-input">Minimo</label>
                </span>
    
                <span class="p-float-label">
                    <p-inputNumber inputId="currency-us" mode="currency" currency="USD" locale="en-US"> </p-inputNumber>
                    <label htmlFor="number-input">Máximo</label>
                </span> 
            </div>
                     


            <h3>Cantidad en Stock</h3>

            <div class="header segment">
                <span class="p-float-label">
                    <p-inputNumber  inputId="stacked"> </p-inputNumber>
                    <label htmlFor="number-input">Minima</label>
                </span>  
    
                <span class="p-float-label">
                    <p-inputNumber inputId="stacked"> </p-inputNumber>
                    <label htmlFor="number-input">Máxima</label>
                </span>
            </div>
               
        </div>
    </div>
    <span class="p-float-label segment">
        <p-multiSelect [ngModelOptions]="{standalone: true}" [options]="categorias" [(ngModel)]="selectedCategorias" defaultLabel="Elija una Categoria" optionLabel="nameCategoria" display="chip"></p-multiSelect>
        <label for="float-label">Categoria</label>
    </span>
    <span class="p-float-label segment">
        <p-multiSelect [ngModelOptions]="{standalone: true}" [options]="marcas" [(ngModel)]="selectedMarcas" defaultLabel="Elija una Marca" optionLabel="nameMarca" display="chip"></p-multiSelect>
        <label for="float-label">Marca</label>
    </span>
    <p-button label="Generar Informe" [loading]="loading" loadingIcon="pi pi-spinner" (onClick)="load()" [style]="{'margin-top': 'var(--spacing-5)'}"></p-button>

</form>
