<p-toast></p-toast>

<h1 [style]="{'fontSize': 'var(--text-3xl)'}">Producto x</h1>
<div class="div-contenedor">

    <div class="add-photo">
        <div [style]="{'display': 'flex', 'justifyContent': 'center'}">
            <p-image
                [src]="imagePreview"
                alt="Image"
                width="250"
                [preview]="true">
            </p-image>
        </div>
        <p-fileUpload
            (onSelect)="selectFile( $event )"
            [multiple]="false"
            accept="image/*"
            [maxFileSize]="1000000">
        </p-fileUpload>
    </div>

    <div class="div-body">
        <form class="div-form" [formGroup]="form">
            <h2>Datos del Tipo de Producto</h2>

            <hr>

            <div class="flex-column gap-2">
                <label>Nombre</label>
                <input pInputText>
            </div>

            <div class="flex-column">
                <label>Precio Unitario</label>
                <p-inputNumber
                    inputId="currency-us"
                    mode="currency"
                    currency="USD"
                    locale="en-US">
                </p-inputNumber>
            </div>

            <div class="flex-column">
                <label>Cantidad de cajas</label>
                <p-inputNumber inputId="integeronly"></p-inputNumber>
            </div>


            <div class="flex-column">
                <label>Categoría</label>
                <p-dropdown optionLabel="name"></p-dropdown>
            </div>


            <div class="flex-column">
                <label>Marca</label>
                <p-dropdown optionLabel="name"></p-dropdown>
            </div>

            <div class="flex-column">
                <label>P. Reorden</label>
                <p-inputNumber inputId="integeronly"></p-inputNumber>
            </div>
        </form>

    </div>
</div>
