<div class="div-contenedor">

    <div class="add-photo">
        <h2>Imagenes del Producto</h2>
        <p-toast></p-toast>
        <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
            (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" [maxFileSize]="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>

    <div class="div-body">
        <div class="div-form">
            <h2>Datos del Tipo de Producto</h2>
            <div class="flex-column gap-2">
                <label>Nombre</label>
                <input pInputText id="name" [(ngModel)]="name" />
            </div>
            <div class="flex-div">
                <div class="flex-column">
                    <label>Stock</label>
                    <p-inputNumber inputId="stock" [(ngModel)]="stock"> </p-inputNumber>
                </div>
                <div class="flex-column">
                    <label>Categorías</label>
                    <p-dropdown [options]="categories" [(ngModel)]="selectedCategories"
                        optionLabel="name"></p-dropdown>
                </div>
            </div>
            <div class="flex-div">
                <div class="flex-column">
                    <div class="flex-column">
                        <label>Precio Unitario</label>
                        <p-inputNumber [(ngModel)]="price_unit" inputId="price_unit" mode="decimal"
                            [minFractionDigits]="2" [maxFractionDigits]="5"> </p-inputNumber>
                    </div>
                </div>
                <div class="flex-column">
                    <div class="flex-column div-tipos">
                        <label>Tipo</label>
                        <p-dropdown [options]="types" [(ngModel)]="selectedTypes" optionLabel="name"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <label>P. Reorden</label>
                <input pInputText id="p_reorden" [(ngModel)]="p_reorden" />
            </div>
        </div>

    </div>
    <!-- <div class="buttons">
        <p-button label="Agregar" [raised]="true" severity="success" class="btn-agregar"></p-button>
        <p-button label="Cancelar" [raised]="true" severity="danger" [routerLink]="['../']"></p-button>
    </div> -->
</div>
