.mensajes-list {
    gap: var(--spacing-4);
    padding: var(--spacing-4);
}



.left {

    align-items: flex-start;
}

.right {
    align-self: flex-end
}

/* Estilo para dispositivos móviles */
@media (max-width: 767px) {}

/* Estilo para tablets y dispositivos con pantallas medianas */
@media (max-width: 1023px) {}

