<section class="valoraciones">
    <div class="title-container">
        <h1>Experiencias de Clientes</h1>
    </div>

    <div class="rating-div">
            <div class="rating-section">
                <div class="left-section">
                    <div class="rating-text">Valoración promedio</div>
                    <div class="stars">
                        <span class="star" [class.filled]="star <= starsToFill" *ngFor="let star of [1, 2, 3, 4, 5]"></span>
                    </div>
                    <div class="rating-description">
                        <h3>{{valoracion}}</h3>
                        <p>{{formattedPromCalificacion}} / 5.0</p>
                    </div>
                </div>
                <div class="right-section">
                    <ng-container *ngFor="let section of rightSections">
                      <div class="right-section-item">
                        <div class="seccionstart">
                            {{ section.stars }}
                          <span class="star-icon">&#9733;</span>
                        </div>
                        <div class="progress-bar-container">
                          <div class="filled-rectangle"
                               [style.background]="section.filledPercentage >= 5 ? 'cornflowerblue' : 'grey'"
                               [style.width.%]="section.filledPercentage">
                          </div>
                        </div>
                            <h4>{{ section.numReviews }}</h4>
                      </div>
                    </ng-container>
                  </div>
            </div>
    </div>
</section>
