.card {
    /*background-color: var(--surface-card);*/
    padding: var(--spacing-2);
    margin: var(--spacing-2);
    position: relative;
}

.container-options{
    width: 100%;
}

p {
    text-align: center;
}