<p-table
    #tablePedidos
    [value]="pedidos"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Hay un total de {totalRecords} registros"
    selectionMode="single"
    [(selection)]="selectedPedido"
    (onRowSelect)="onRowSelect( $event )">

    <ng-template pTemplate="caption">
        <div class="caption">
            <div class="p-buttonset">
                <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"></button>
                <button pButton label="Reporte" icon="pi pi-file-export" (click)="showGenerarReporte()"></button>
            </div>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Buscar...">
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Importe de la venta</th>
            <th>Importe pagado</th>
            <th>Importe debido</th>
            <th>Empresa</th>
            <th>Acciones</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-pedido>
        <tr [pSelectableRow]="pedido">
            <td>
                <div class="celda-cliente">
                    <div>
                        <p-avatar [image]="pedido.cliente.foto" shape="circle"></p-avatar>
                    </div>
                    <p class="celda-cliente-nombre">{{ pedido.cliente.nombre + ' ' + pedido.cliente.apellido }}</p>
                </div>
            </td>

            <td>
                {{ pedido.fecha | date }}
            </td>

            <td>
                <p-tag [value]="pedido.estado.estado"></p-tag>
            </td>

            <td>
                {{ importesCalc.calcularImporte( pedido.pedido_producto ) | currency:'USD':'symbol':'1.2-2' }}
            </td>

            <td>
                {{ importesCalc.calcularImportePagado( pedido.pagos ) | currency:'USD':'symbol':'1.2-2' }}
            </td>

            <td>
                {{ importesCalc.calcularImporteDebido( pedido.pedido_producto, pedido.pagos ) | currency:'USD':'symbol':'1.2-2' }}
            </td>

            <td>
                <p *ngIf="!pedido.cliente.empresa">Sin empresa asociada</p>
                <div *ngIf="pedido.cliente.empresa" class="celda-cliente">
                    <div>
                        <p-avatar [image]="pedido.cliente.empresa.foto" shape="square"></p-avatar>
                    </div>
                    <p class="celda-cliente-nombre">{{ pedido.cliente.empresa.nombre }}</p>
                </div>
            </td>

            <td>
                <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    [text]="true"
                    [raised]="true">
                </p-button>
            </td>
        </tr>
    </ng-template>

</p-table>
