.celda-cliente {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.celda-cliente:hover {
    background-color: var(--highlight-bg);
}

.celda-cliente-nombre {
    font-size: var(--text-md);
    margin-left: var(--spacing-1);
    margin-top: 0;
    margin-bottom: 0;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separacion {
    margin-left: var(--spacing-3);
}
