<div class="card">
    <h3>{{sugerenciasData.length}} reseñas de nuestros clientes: </h3>
    <p-dataView #dv [value]="sugerenciasData" [rows]="5" [paginator]="true">
        <ng-template let-sugerenciasData pTemplate="listItem">
            <div class="col-12">
                <div class="reseña-container">
                        <img src="https://cdn.icon-icons.com/icons2/91/PNG/512/users_16478.png"
                            alt="Usuario" width="100" height="100">
                        <div class="reseña-info-container flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="reseña-info flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="reseña-nombre">{{ sugerenciasData.cliente_id }}</div>
                            <div class="reseña-fecha">{{ sugerenciasData.fecha }}</div>
                            <div class="reseña-descripcion">{{ sugerenciasData.contenido }}</div>
                            <p-rating  [readonly]="true" [cancel]="false" [ngModel]="sugerenciasData.valoracion"></p-rating> 
                            <div class="flex align-items-center gap-3">
                            </div>
                        </div>
                    </div>
                    <div class="reseña-botones">
                        <p-button icon="pi pi-thumbs-up-fill" [rounded]="true" [text]="true" [raised]="true"></p-button>
                        <p-button icon="pi pi-thumbs-down-fill" [rounded]="true" [text]="true" [raised]="true"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>