<p-toast></p-toast>

<div class="background-image">
    <div class="formulario">
        <form [formGroup]="form">
            <h1>Iniciar Sesión</h1>

            <div>
                <label htmlFor="correo" class="div-label">Correo</label>
                <input
                    class="w-full"
                    formControlName="correo"
                    type="text"
                    id="correo"
                    pInputText>
            </div>

            <div>
                <label htmlFor="pass" class="div-label">Contraseña</label>
                <input
                    class="w-full"
                    formControlName="pass"
                    type="password"
                    id="pass"
                    pInputText>
            </div>

            <div class="recordar-usuario">
                <p-checkbox
                    formControlName="recordar"
                    value="r"
                    inputId="ny">
                </p-checkbox>
                <label for="ny">Recordar usuario</label>
            </div>

            <div class="button">
                <p-button
                    (onClick)="enviarDatos()"
                    styleClass="w-full"
                    label="Iniciar sesión"
                    [loading]="loading"
                    [disabled]="!form.valid">
                </p-button>
            </div>

            <div class="sin-cuenta">
                <p>¿Aún no tienes cuenta? <a [routerLink]="['/auth/registro-mayorista']">Registrate</a></p>
            </div>
        </form>
    </div>
</div>
