<main class="h-screen w-screen flex p-4 md:p-0">

    <section class="border-round py-2 px-4 md:px-8 h-screen w-full" [style]="{'background': 'var(--surface-card)'}">

        <form>
            <h1 class="text-center">Iniciar Sesión</h1>

            <div class="mb-4">
                <label htmlFor="correo">Correo</label>
                <input type="text" id="correo" pInputText class="w-full">
            </div>

            <div class="mb-4">
                <label htmlFor="pass">Contraseña</label>
                <input type="password" id="pass" pInputText class="w-full">
            </div>

            <div class="flex align-items-center gap-1 mb-4">
                <p-checkbox value="New York" inputId="ny"></p-checkbox>
                <label for="ny">Recordar usuario</label>
            </div>

            <p-button styleClass="w-full mb-4" label="Iniciar sesión"></p-button>

            <div>
                <p class="m-0 text-center p-0 text-lg">¿Aún no tienes cuenta?</p>
                <a class="text-lg text-center block" [routerLink]="['/auth/registro-mayorista']">Registrate como mayorista</a>
                <a class="text-lg text-center block" [routerLink]="['/auth/registro-minorista']">Registrate como minorista  </a>
            </div>

        </form>

    </section>

    <section class="w-full hidden md:block relative">

        <img src="assets/temp.jpg" class="w-full h-full" alt="">


    </section>

</main>
