<div class="background-image">
    <div class="formulario">
        <form>
            <h1>Iniciar Sesión</h1>

            <div>
                <label htmlFor="correo" class="div-label">Correo</label>
                <input type="text" id="correo" pInputText class="w-full">
            </div>

            <div>
                <label htmlFor="pass" class="div-label">Contraseña</label>
                <input type="password" id="pass" pInputText class="w-full">
            </div>

            <div class="recordar-usuario">
                <p-checkbox value="New York" inputId="ny"></p-checkbox>
                <label for="ny">Recordar usuario</label>
            </div>

            <div class="button">
                <p-button styleClass="w-full" label="Iniciar sesión"></p-button>
            </div>

            <div class="sin-cuenta">
                <p>¿Aún no tienes cuenta? <a [routerLink]="['/auth/registro-mayorista']">Registrate</a></p>
            </div>
        </form>
    </div>
</div>
