
<div class="card-gallery">
    <p-button>
        <div class="button-content">
            <i class="pi pi-shopping-cart"></i>
            <span>Pedidos</span>
        </div>
    </p-button>
    <p-button severity="danger">
        <div class="button-content">
            <i class="pi pi-sync"></i>
            <span>Devolución y Reembolsos</span>
        </div>
    </p-button>
    <p-button severity="warning">
        <div class="button-content">
            <i class="pi pi-money-bill"></i>
            <span>Pago y Promociones</span>
        </div>
    </p-button>
    <p-button severity="success">
        <div class="button-content">
            <i class="pi pi-truck"></i>
            <span>Entrega</span>
        </div>
    </p-button>
    <p-button severity="info">
        <div class="button-content">
            <i class="pi pi-user"></i>
            <span>Cuenta</span>
        </div>
    </p-button>
    <p-button severity="secondary">
        <div class="button-content">
            <i class="pi pi-book"></i>
            <span>Políticas</span>
        </div>
    </p-button>
</div>
