<h1 class="text-3xl">Pedido con id: id</h1>

<div class="flex flex-column md:flex-row gap-2">
    <div class="w-full">
        <div class="mb-2">
            <alik-card-user [cliente]="cliente"></alik-card-user>
        </div>
        <ng-container *ngIf="tieneEmpresa">
            <div class="mb-2">
                <h2 class="text-lg m-0 p-0">Empresa asociada</h2>
                <alik-card-empresa [empresa]="empresa"></alik-card-empresa>
            </div>
        </ng-container>
        <div>
            <h2 class="text-lg m-0 p-0">Dirección de envio</h2>
            <alik-card-direccion [direccion]="pedido?.direccion"></alik-card-direccion>
        </div>
    </div>

    <div class="w-full">
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Productos">
                <app-productos-pedidos></app-productos-pedidos>
            </p-accordionTab>

            <p-accordionTab header="Pagos">
                <app-pagos-list [pagos]="pedido?.pagos"></app-pagos-list>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
