<div class="ticket-container">
    <div class="ticket-detail">
        <h3>Detalles</h3>
        <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem;' }">
            <ng-template pTemplate="body" let-data>
                <tr>
                    <th>Cliente: {{data.cliente}}</th>
                    <th>Teléfono: {{data.telefono}}</th>
                    <th>Fecha del ticket: {{data.fecha}}</th>
                </tr>
            </ng-template>
        </p-table>

        <p>{{detalleTicket}}</p>
    </div>
    <div class="sup-der">
        <p-splitButton label="Guardar" icon="pi pi-plus" (onClick)="'info'" [model]="items"></p-splitButton>
        <p-button label="Mensajes" icon="pi pi-comments" badge="5" badgeClass="p-badge-warning"></p-button>
    </div>
</div>