<form>
    <div class="mb-2">
        <label htmlFor="email" class="block">Correo</label>
        <input type="email" name="email" pInputText [(ngModel)]="correo">
    </div>
    <div class="mb-2">
        <label htmlFor="pass"  class="block">Contraseña</label>
        <input type="password" name="pass" pInputText [(ngModel)]="password">
    </div>
    <div class="mb-2">
        <label htmlFor="nombre" class="block">Nombre</label>
        <input pInputText name="nombre" aria-describedby="username-help" [(ngModel)]="nombre">
    </div>
    <div class="mb-2">
        <label htmlFor="apellido" class="block">Apellido</label>
        <input pInputText name="apellido" aria-describedby="username-help" [(ngModel)]="apellido">
    </div>
    <div class="mb-2">
        <label htmlFor="telefono" class="block">Telefono</label>
        <input pInputText name="telefono" aria-describedby="username-help" [(ngModel)]="telefono">
    </div>
    <div class="mb-2">
        <label htmlFor="cedula" class="block">Cédula</label>
        <input pInputText name="cedula" aria-describedby="username-help" [(ngModel)]="cedula">
    </div>
    <div class="flex flex-wrap gap-3 mb-4">
        <div class="flex align-items-center">
            <p-radioButton name="genero" value="F" [(ngModel)]="genero" inputId="genero2"></p-radioButton>
            <label for="genero2" class="ml-2">Mujer</label>
        </div>
        <div class="flex align-items-center">
            <p-radioButton name="genero" value="M" [(ngModel)]="genero" inputId="genero1"></p-radioButton>
            <label for="genero1" class="ml-2">Hombre</label>
        </div>
    </div>
    <p-button label="Agregar" (Click)="agregarColaborador"></p-button>
</form>
