<form>
    <div class="mb-2">
        <label htmlFor="email" class="block">Correo</label>
        <input type="email" id="email" pInputText>
    </div>
    <div class="mb-2">
        <label htmlFor="pass"  class="block">Contraseña</label>
        <input type="password" id="pass" pInputText>
    </div>
    <div class="mb-2">
        <label htmlFor="nombre" class="block">Nombre</label>
        <input pInputText id="nombre" aria-describedby="username-help">
    </div>
    <div class="mb-2">
        <label htmlFor="apellido" class="block">Apellido</label>
        <input pInputText id="apellido" aria-describedby="username-help">
    </div>
    <div class="mb-2">
        <label htmlFor="telefono" class="block">Telefono</label>
        <input pInputText id="telefono" aria-describedby="username-help">
    </div>
    <div class="mb-2">
        <label htmlFor="cedula" class="block">Cédula</label>
        <input pInputText id="cedula" aria-describedby="username-help">
    </div>
    <div class="flex flex-wrap gap-3 mb-4">
        <div class="flex align-items-center">
            <p-radioButton name="genero" value="F" [(ngModel)]="genero" inputId="genero2"></p-radioButton>
            <label for="genero2" class="ml-2">Mujer</label>
        </div>
        <div class="flex align-items-center">
            <p-radioButton name="genero" value="M" [(ngModel)]="genero" inputId="genero1"></p-radioButton>
            <label for="genero1" class="ml-2">Hombre</label>
        </div>
    </div>
    <p-button label="Agregar"></p-button>
</form>
