.reset{
    margin: 0%;
    padding: 0%;
}
.box-graficas-ondas{
    display: flex;
    justify-content: space-between;
}

.box-graficas-barras{
    width: 200px;
    height: 133px;
    display: flex;
    justify-content: space-center;

}


