
<main class="reset">
    <section class="graficas-ondas">
        <div >
            <p-chart type="line" [data]="data2" [options]="options2"></p-chart>
        </div>

        <div >
            <p-chart type="line" [data]="data2" [options]="options2"></p-chart>
        </div>

        <div>
            <p-chart type="line" [data]="data2" [options]="options2"></p-chart>
        </div>

        <div>
            <p-chart type="line" [data]="data2" [options]="options2"></p-chart>
        </div>

    </section>
<br><br><br><br><br><br><br><br>

    <section>
        <div class="card">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>

        <div class="card">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </section>

    <section>
        <div class="card flex justify-content-center">
            <p-chart type="pie" [data]="data1" [options]="options1"></p-chart>
        </div>
    </section>






</main>


