<div class="top">
    <p-avatar icon="pi pi-user" shape="circle" size="large"></p-avatar>
    <h2>Empresa</h2>
    <h2>RUC: </h2> <h3 >8-888-8888</h3>
    <h2>Telefono:</h2> <h3 >507 6555-5555</h3>
</div>

<hr>
<h2>INFORMACION GENERAL CLIENTE</h2>

<div class="body">
        <img class="foto_perfil">

            <div >
                <h2>ID: </h2> <h4>9-888-888</h4>
                <h2>Nombre: </h2> <h4>Nombre</h4>
                <h2>Apellido: </h2> <h4>apellido</h4>
            </div>
            <div >
                <h2>Correo: </h2> <h4>correo@gmail.com</h4>
                <h2>Telefono: </h2> <h4>6666-6666</h4>
                <h2>Genero: </h2> <h4>no binario</h4>
            </div>
</div>

