.section {
    display: flex;
    gap: var(--spacing-2);
}

.image {
    display: flex;
    justify-content: center;
}

.a1 {
    flex: 1;
}

.a2 {
    flex: 2;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-2);
}

/* Estilo para dispositivos móviles */
@media (max-width: 767px) {

    .section {
        flex-direction: column;
    }
}
