<section class="section" >
    <article class="article a1">
        <div class="image" *ngIf="cliente">
            <p-image
                src="{{cliente.foto}}"
                [(ngModel)] = "fotoCliente"
                alt="Perfil"
                width="300"
                [preview]="true">
            </p-image>
        </div>

        <div class="image" *ngIf="empresa">
            <p-image
                src="{{empresa.foto}}"
                [(ngModel)] = "fotoEmpresa"
                alt="Perfil"
                width="300"
                [preview]="true">
            </p-image>
        </div>

        <p-fileUpload
            name="demo[]"
            (onUpload)="onUpload($event)"
            [multiple]="false" accept="image/*"
            [maxFileSize]="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </article>

    <article class="article a2" *ngIf="empresa">
        <form>
            <div class="input">
                <label htmlFor="nombre">Nombre</label>
                <input pInputText id="nombre" name="nombre" [(ngModel)]="nombre" aria-describedby="username-help" >
            </div>
            <div class="input">
                <label htmlFor="apellido">RUC</label>
                <input pInputText id="ruc" name="ruc" [(ngModel)]="ruc" aria-describedby="username-help">
            </div>
            <div class="input">
                <label htmlFor="telefono">Telefono</label>
                <input pInputText id="telefono" name="telefono" [(ngModel)]="telefono" aria-describedby="username-help">
            </div>
            <div class="input">
                <label htmlFor="cedula">Razon Social</label>
                <input pInputText id="cedula" name="cedula" [(ngModel)]="razon_social" aria-describedby="username-help">
            </div>
            <div class="flex flex-wrap gap-3 mb-8">

            </div>
            <p-button label="Actualizar información" (onClick)="enviarDatosEmpresa(empresa.id)"></p-button>
        </form>
    </article>

    <article class="article a2" *ngIf="cliente">
        <form>
            <div class="input">
                <label htmlFor="nombre">Nombre</label>
                <input pInputText name="nombre" [(ngModel)]="nombre" aria-describedby="username-help">
            </div>
            <div class="input">
                <label htmlFor="apellido">Apellido</label>
                <input pInputText name="apellido" [(ngModel)]="apellido" aria-describedby="username-help" >
            </div>
            <div class="input">
                <label htmlFor="telefono">Telefono</label>
                <input pInputText name="telefono" [(ngModel)]="telefono" aria-describedby="username-help">
            </div>
            <div class="input">
                <label htmlFor="cedula">Cédula</label>
                <input pInputText name="cedula" [(ngModel)]="cedula" aria-describedby="username-help">
            </div>
            <div class="flex flex-wrap gap-3 mb-8">
                <div class="flex align-items-center">
                    <p-radioButton name="genero" value="F"  inputId="genero2"></p-radioButton>
                    <label for="genero2" class="ml-2">Mujer</label>
                </div>
                <div class="flex align-items-center">
                    <p-radioButton name="genero" value="M" inputId="genero1"></p-radioButton>
                    <label for="genero1" class="ml-2">Hombre</label>
                </div>
            </div>
            <p-button label="Actualizar información" (onClick)="enviarDatosCliente(cliente.idCliente)"></p-button>
        </form>
    </article>
</section>

