.card{
    margin: var(--spacing-4);
    border: solid 2px #808080;
    text-align: center;
    padding: var(--spacing-4);

}

.datos{
    display: grid;
    grid-template-columns: 50% 50%;
}

p-button{
    padding: 30px;
}
