<div>
    <h1 class="tittle">Inventario</h1>
    <div class="table">
        <p-table [value]="products" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem'}"
            [scrollable]="true" [scrollHeight]="'400px'" [paginator]="true">

            <ng-template pTemplate="caption">
                <div class="flex header-table" scrollable>
                    <div class="p-buttonset">
                        <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"></button>
                        <button pButton label="Reporte" class="" icon=""></button>
                    </div>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Buscar producto..." />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th class="th-max" pSortableColumn="name" >
                        <div class="flex align-items-center">
                            Producto <p-columnFilter display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th class="th-max">
                        <div class="flex align-items-center">
                            Categoría <p-columnFilter display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th class="th-max">
                        <div class="flex align-items-center">
                            Tipo <p-columnFilter display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th class="th-max">
                        <div class="flex align-items-center">
                            Precio Unit <p-columnFilter display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th class="th-max">
                        <div class="flex align-items-center">
                            Stock <p-columnFilter display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th class="th-max">
                        <div class="flex align-items-center">
                            Foto <p-columnFilter display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th class="th-max">
                        <div class="flex align-items-center">
                            P. reorden <p-columnFilter display="menu"></p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.price_unit }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.photo }}</td>
                    <td>{{ product.p_reorden }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>