<div class="contenedor">
    <p-toast></p-toast>

    <p-confirmDialog
        key="confirmDialog"
        [style]="{ width: '50vw' }"
        rejectButtonStyleClass="p-button-outlined"
        acceptLabel="Si"
        rejectLabel="No">
    </p-confirmDialog>

    <p-table
        #prd
        [value]="productos"
        [rows]="5"
        [paginator]="true"
        styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem'}"
        [scrollable]="true"
        selectionMode="single"
        [(selection)]="selectedProducto"
        (onRowSelect)="onRowSelect( $event )"
        >

        <ng-template pTemplate="caption">
            <div class="flex header-table" scrollable>
                <div class="p-buttonset">
                    <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(prd)"></button>
                    <button pButton label="Reporte" icon="pi pi-file-export" (click)="showGenerarReporte()"></button>
                </div>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="prd.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar producto..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex align-items-center">
                        Producto
                        <p-columnFilter field="name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Categoría <p-columnFilter field="category" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Marca <p-columnFilter field="type" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Precio Unit <p-columnFilter field="price_unit" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Stock <p-columnFilter field="stock" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Foto <p-columnFilter field="photo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        P. reorden <p-columnFilter field="name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Acciones
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-producto>
            <tr [pSelectableRow]="producto">
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria.nombre }}</td>
                <td class="avatar-cel">
                    <p-avatar [image]="producto.marca.logo"></p-avatar>
                    <span>{{ producto.marca.nombre }}</span>
                </td>
                <td>${{ producto.precio_unit | number }}</td>
                <td>{{ producto.cantidad_cajas }}</td>
                <td>
                    <p-avatar [image]="producto.foto"></p-avatar>
                </td>
                <td>
                    <p-tag
                        [icon]="aplicaReordenValue(producto, ['pi pi-exclamation-triangle', 'pi pi-check'])"
                        [severity]="aplicaReordenValue(producto, ['danger', 'success'])"
                        [value]="aplicaReordenValue(producto, ['Aplica', 'No aplica'])">
                    </p-tag>
                </td>
                <td class="td-buttons">
                    <p-button
                        icon="pi pi-trash"
                        severity="danger"
                        (click)="onEliminarProducto( producto )"
                        [text]="true"
                        [raised]="true">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>
