/* Aqui esta el titulo y el medu desplegable */
.p-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10px;

}

/* Aqui estan los botones y el searchbar */
.header-table {
    display: flex;
    justify-content: space-between;    
}

/* Alineo el searchbar con el icono cuando se achica */
.p-input-icon-left {
    display: flex;
    align-items: center;
    max-width: 100%;
}

/* Agrega un margen derecho al primer botón */
.l-button {
    margin-right: var(--spacing-3);
    animation: pulse 1s infinite;
}

/* Agrega un margen izquierdo al segundo botón */
.r-button {
    margin-left: var(--spacing-1);
    animation: shake 0.5s infinite;
}

/* agrega la animacion de pulso */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* agrega la animacion de sacudida */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}


/* muestra color rojo por no tener stock */
.outofstock {
    color: var(--red-500)
    
    }

/* muestra color amarillo por bajo stock */
.lowstock{
    color: var(--yellow-500)
}

/* muestra color verde por buen stock */
.instock {
    color: var(--green-300)
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 560px) {
    .p-input-icon-left > input {
        max-width: 90%;
    }    
  }
