<p-sidebar [(visible)]="sidebarVisible2" position="right">
    <div class="opciones">
        <div class="modulos">
            <ul>
                <li *ngFor="let item of loginItems"><a href="#{{ item.toLowerCase() }}" class="etiqueta-a">{{ item }}</a></li>
                <li><a routerLink="registro" class="etiqueta-a">Registrarse</a></li>
                <li><a routerLink="login" class="etiqueta-a">Iniciar Sesión</a></li>
                <li *ngFor="let item of menuItems"><a href="#{{ item.toLowerCase() }}" class="etiqueta-a">{{ item }}</a></li>
            </ul>
        </div>
    </div>
    <div class="tema">
        <p-button *ngIf="isSunButtonVisible" icon="pi pi-sun" [text]="true"(onClick)="toggleThemeAndButtons('viva-light')"></p-button>
        <p-button *ngIf="!isSunButtonVisible" icon="pi pi-moon" [text]="true"(onClick)="toggleThemeAndButtons('viva-dark')"></p-button>
    </div>
</p-sidebar>


<nav>
    <!-- Logo y Nombre -->
    <div class="logo">
        <img src="assets/logo.png" alt="logo">
        <a href="#inicio" class="etiqueta-a">
            <h1>Cosmos ERP</h1>
        </a>
    </div>

    <div class="opciones">

        <!-- Boton del Menu del Sidebar -->
        <p-button *ngIf="isSidebarButtonVisible" type="button" class="mr-2" (click)="sidebarVisible2 = true"icon="pi pi-bars" [text]="true"></p-button>

        <!-- Tablas - Dashboard - Cards -->
        <div *ngIf="!isSidebarButtonVisible" class="modulos">
            <ul>
                <li *ngFor="let item of menuItems"><a href="#{{ item.toLowerCase() }}" class="etiqueta-a">{{ item }}</a></li>
            </ul>
        </div>

        <!-- Boton que cambia de tema -->
        <div *ngIf="!isSidebarButtonVisible" class="tema">
            <!-- Primer botón (sol) -->
            <p-button *ngIf="isSunButtonVisible" icon="pi pi-sun" [text]="true"(onClick)="toggleThemeAndButtons('viva-light')"></p-button>
            <!-- Segundo botón (luna) -->
            <p-button *ngIf="!isSunButtonVisible" icon="pi pi-moon" [text]="true"(onClick)="toggleThemeAndButtons('viva-dark')"></p-button>
        </div>

        <!-- Registrarse - Iniciar Sesion -->
        <div *ngIf="!isSidebarButtonVisible" class="acciones">
            <ul>
                <!-- <li *ngFor="let item of loginItems"><a href="#{{ item.toLowerCase() }}" class="etiqueta-a">{{ item }}</a></li> -->
                <li><a routerLink="registro" class="etiqueta-a">Registrarse</a></li>
                <li><a routerLink="login" class="etiqueta-a">Iniciar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
