<p-table
    #table
    [value]="arregloEmpresas"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }"
    (onPage)="pageChange($event)"
    selectionMode="single"
    (onRowSelect)="onRowSelect( $event )">

    <ng-template pTemplate="caption">
        <div class="contenido">
            <div class="p-buttonset">
                <button pButton label="Limpiar" (click)="table.clear()" class="p-button-outlined" icon="pi pi-filter-slash"></button>
                <button pButton label="Reporte" icon="pi pi-file-export"></button>
            </div>
            <div class="input">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" placeholder="Buscar..." pInputText/>
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" >
        <tr>
            <th>
                <div class="flex align-items-center">
                    Nombre
                    <p-columnFilter field="nombre" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    RUC
                    <p-columnFilter field="RUC" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Telefono
                    <p-columnFilter field="telefono" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Razón social
                    <p-columnFilter field="razon_social" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex align-items-center">
                    Total Pedidos
                    <p-columnFilter field="nombre" type="numeric" display="menu"></p-columnFilter>
                </div>
            </th>
            <th><div class="flex align-items-center">Acciones</div></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empresa >
        <tr [pSelectableRow]="empresa">
            <td>
                <div class="flex align-items-center gap-1">
                    <div>
                        <p-avatar [image]="empresa.foto" shape="circle"></p-avatar>
                    </div>
                    <p class="celda-cliente-nombre">{{empresa.nombre}}</p>
                </div>
            </td>
            <td>{{ empresa.ruc }}</td>
            <td>{{ empresa.telefono }}</td>
            <td>{{ empresa.razon_social }}</td>
            <td>{{ -1 }}</td>
            <td>
                <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="showEliminarEmpresa(empresa.id_cliente,empresa.nombre)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

