<main class="flex flex-column justify-content-center fondo">

        <div class="p-6 caja-blur align-self-center ">
            <section>
                <h1 class="justify-content-center font-bold text-center text-2xl ">Bienvenido a tus chats</h1>
                <p class="mb-5 text-xs text-center font-light caja-blur-fuentes">Aquí, la comunicación se vuelve más cercana y fácil. Nuestra ventana de chat está diseñada para brindarte una experiencia fluida y efectiva. Conéctate con nosotros en tiempo real para obtener respuestas rápidas a tus preguntas.</p>
            </section>


            <section class="p-2 mt-2 text-xs font-light flex caja-blur-fuentes justify-content-between  ">
                <i class="pi pi-users" style="font-size: 7rem; color: #515c5e"></i>
                <ul class="mt-2 pt-2"> Características Destacadas:
                    <li class=" ">Respuestas Rápidas: Nuestro equipo está listo para responder tus consultas en tiempo real. </li>
                    <li class=" ">Interfaz Amigable: Una ventana de chat fácil de usar para una experiencia sin complicaciones.</li>
                </ul>
            </section>

            <!-- <section class="mt-2 flex gap-4 justify-content-start align-items-end ">
                <p-button class="text-xs" size="small" label="Soy botón" severity="secondary"></p-button>
                <p-button class="text-xs" size="small" label="Soy botón" severity="secondary"></p-button>
            </section> -->
        </div>
</main>
