<h1>{{ titulo }}</h1>

<p-tabMenu (activeItemChange)="onChange($event)" [model]="items" [activeItem]="activeItem"></p-tabMenu>

<ng-container *ngIf="activeItem?.label && activeItem?.label === 'Clientes'">
    <div class="card">
        <app-clientes-table></app-clientes-table>
    </div>
</ng-container>

<ng-container *ngIf="activeItem?.label && activeItem?.label === 'Empresas'">
    <div class="card">
        <app-empresas-table></app-empresas-table>
    </div>
</ng-container>

<ng-container *ngIf="activeItem?.label && activeItem?.label === 'Solicitudes'">
    <app-solicitud-card></app-solicitud-card>
    <app-solicitud-card></app-solicitud-card>
    <app-solicitud-card></app-solicitud-card>
    <app-solicitud-card></app-solicitud-card>
    <app-solicitud-card></app-solicitud-card>
</ng-container>
