.column {
    flex: left;
}

.card {
    background-color: var(--surface-card);
    padding: var(--spacing-2);
    border-radius: var(--border-radius);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.list-cards-solicitud {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: var(--spacing-2);
    gap: var(--spacing-2);
}


/* Estilo para dispositivos móviles */
@media (max-width: 767px) {

    .list-cards-solicitud {
        grid-template-columns: 100%;
    }

}
