<p-toast></p-toast>

<div class="background-image">
    <div class="formulario">
        <form [formGroup]="form">
            <h1>Registro de solicitud</h1>

            <p-fileUpload
                [showUploadButton]="false"
                [showCancelButton]="false"
                (onSelect)="selectFile( $event )"
                (onRemove)="documento = undefined;"
                [multiple]="false"
                accept=".pdf"
                [maxFileSize]="1000000">
            </p-fileUpload>

            <div>
                <label htmlFor="nombre" class="div-label">Nombre</label>
                <input
                    class="w-full"
                    formControlName="nombre"
                    type="text"
                    id="nombre"
                    pInputText>
            </div>

            <div>
                <label htmlFor="correo" class="div-label">Correo</label>
                <input
                    formControlName="correo"
                    type="text"
                    id="correo"
                    pInputText class="w-full">
            </div>

            <div>
                <label htmlFor="pass" class="div-label">Contraseña</label>
                <input
                    formControlName="pass"
                    type="password"
                    id="pass"
                    pInputText class="w-full">
            </div>

            <div>
                <label htmlFor="passConfim" class="div-label">Confirmar contraseña</label>
                <input
                    formControlName="confirmPass"
                    type="password"
                    id="passConfim"
                    pInputText class="w-full">
            </div>

            <div>
                <label htmlFor="ruc" class="div-label">Ruc</label>
                <input
                    formControlName="ruc"
                    type="text"
                    id="ruc"
                    pInputText class="w-full">
            </div>

            <div>
                <label htmlFor="tel" class="div-label">Telefono</label>
                <input
                    formControlName="telefono"
                    type="tel"
                    id="tel"
                    pInputText class="w-full">
            </div>

            <div class="button">
                <p-button
                    styleClass="w-full" label="Enviar datos"
                    [disabled]="!form.valid || !documento"
                    [loading]="loading"
                    (onClick)="enviarDatos()"></p-button>
            </div>

        </form>
    </div>
</div>
