<main parent class="bg-bluegray-400 flex p-2 m-2 gap-2 flex-column surface-overlay justify-content-center align-items-center border-round w-auto "  >
    <h1>Experiencia de los clientes</h1>
    <p>Valoracion de los clientes</p>
    <p-rating  [cancel]="false"></p-rating>
        <div class="flex flex-column justify-content-center  align-items-center" style="width: calc(80vh);">
            <p-divider></p-divider>
            <p-progressBar class="h-2rem w-30rem "  [value]="50"></p-progressBar>
            <p-progressBar class="h-2rem w-30rem  "  [value]="20"></p-progressBar>
            <p-progressBar class="h-2rem w-30rem  "  [value]="70"></p-progressBar>
            <p-progressBar class="h-2rem w-30rem  "  [value]="99"></p-progressBar>
            <p-progressBar class="h-2rem w-30rem  "  [value]="35"></p-progressBar>
            <p-divider></p-divider>
        </div>

    <section *ngFor=" let user of usuario"
        class="flex flex-wrap justify-content-center gap-2">
        <app-card-blog-usuario [clientes]="usuario"> </app-card-blog-usuario>
    </section>
    <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="1" icon="pi pi-arrow-up"></p-scrollTop>
    <p-button label="Añadir Reseña" [raised]="true" severity="help" (click)="agregarOpinion()" ></p-button>

    <section class="flex flex-wrap">
        <app-card-blog-usuario></app-card-blog-usuario>
        <app-card-blog-usuario></app-card-blog-usuario>
        <app-card-blog-usuario></app-card-blog-usuario>
        <app-card-blog-usuario></app-card-blog-usuario>
        <app-card-blog-usuario></app-card-blog-usuario>
        <app-card-blog-usuario></app-card-blog-usuario>
        <app-card-blog-usuario></app-card-blog-usuario>
        <app-card-blog-usuario></app-card-blog-usuario>

    </section>


</main>
<p-divider></p-divider>

