.p-rating-icon{
  width: 50px;
  color: cornflowerblue;
}

button.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-raised.p-button-rounded.p-button-text{
  color: cornflowerblue;
}  

button.p-ripple.p-element.p-button.p-component.p-button-info.p-button-raised {
  background-color: cornflowerblue;
}

.p-sidebar .p-rating-icon:last-child {
  width: 70px;
  color: cornflowerblue;
  block-size: 30px;
}

/* Estilo para tablets y dispositivos con pantallas medianas */
@media (max-width: 1024px) {
  .right-section{
    display: none;
    margin-left: 0;
  }

  .left-section{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .rating-div{
    margin-left: 0px;
    display: flex!important;
    align-items: center;
    justify-content: center;
  }
}
