<ng-container *ngIf="cliente">
    <div class="flex cursor-pointer flex-row gap-1 align-items-center" [routerLink]="['/app/clientes/perfil/cliente', cliente.id_cliente]">
        <p-avatar [image]="cliente.foto" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        <div>
            <p class="m-0 p-0 text-xl">{{cliente.nombre + ' ' + cliente.apellido}}</p>
            <small>{{cliente.cedula}}</small>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="!cliente">
    <div class="flex flex-row gap-1 align-items-center">
        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
        <div class="w-full">
            <p-skeleton styleClass="mb-2 w-full"></p-skeleton>
            <p-skeleton width="12rem" styleClass="mb-2"></p-skeleton>
        </div>
    </div>
</ng-container>
