<h1>Tickets</h1>
<div class="card">
    <p-table #dt1 [value]="products" [value]="products" selectionMode="single" [(selection)]="selectedProduct" dataKey="code" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [paginator]="true"
        currentPageReportTemplate="Hay un total de {totalRecords} registros"
        [tableStyle]="{'min-width': '75rem', margin: '1rem', 'z-index': 1}"class="custom-table"(onRowSelect)="onSeleccion( $event )" >
        <ng-template pTemplate="header">
            <tr>
                <th colspan="7">
                    <div class="container">
                        <div>
                            <p-button label="Limpiar" (click)="clear(dt1)" [outlined]="true" icon="pi pi-filter-slash"></p-button>
                        </div>
                        <div class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Buscar...">
                        </div>
                    </div>
                </th>


            </tr>

            <tr>
                <th pSortableColumn="id" style="width:20%">ID<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="usuario" style="width:20%">Usuario<p-sortIcon field="usuario"></p-sortIcon></th>
                <th pSortableColumn="asunto" style="width:20%">Asunto<p-sortIcon field="asunto"></p-sortIcon></th>
                <th pSortableColumn="prioridad" style="width:20%">Prioridad<p-sortIcon field="prioridad"></p-sortIcon>
                </th>
                <th pSortableColumn="estatus" style="width:20%">Estatus<p-sortIcon field="estatus"></p-sortIcon></th>
                <th pSortableColumn="fecha" style="width:20%">Fecha<p-sortIcon field="fecha"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [pSelectableRow]="product">
                <td>{{product.id}}</td>
                <td> <i class="pi pi-user"></i> {{product.usuario}}</td>
                <td>{{product.asunto}}</td>
                <td><p-tag [value]="product.prioridad" [severity]="getPriority(product.prioridad)"></p-tag></td>
                <td><p-tag [value]="product.estatus" [severity]="getSeverity(product.estatus)"></p-tag></td>
                <td>{{product.fecha}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
