<main>
    <!-- Filtros -->
    <section class="flex flex-row align-content-start justify-content-start gap-2 mb-1">
        <p-dropdown
            [options]="provinciaCliente"
            placeholder="Provincias que mas compran"
            optionLabel="nombre"
            onchange="$event"
            [editable]="true"
            [showClear]="true">
        </p-dropdown>

        <p-dropdown
            [options]="clientesCompras"
            placeholder="Clientes que mas compran"
            optionLabel="label"
            [showClear]="true"
            (onChange)="selectedClientes($event)">
        </p-dropdown>

    </section>
    <!-- Cards superiores -->
    <section>
        <div class="flex gap-2">
            <alik-dashboard-card
                titulo="Clientes Totales"
                icon="pi-users"
                [numero]="clientes?.length || 0"
                tipo="numero" >
            </alik-dashboard-card>

            <alik-dashboard-card
                titulo="Empresas Totales"
                icon="pi-building"
                [numero]="empresas?.length || 0"
                tipo="numero" >
            </alik-dashboard-card>

            <alik-dashboard-card
                titulo="Crecimiento"
                icon="pi-chart-line"
                [numero]="clientesMesActual?.length || 0"
                tipo="numero"
                [valorAnterior]="clientesMesAnterior?.length || 0" >
            </alik-dashboard-card>

            <div class=" border-round w-full flex flex-column justify-content-center align-items-center" [style]="{'background': 'var(--surface-card)'}">
                <p>Rendimiento</p>
                <ana-speedometer
                    [total]="5400"
                    [valorActual]="5345"
                ></ana-speedometer>
            </div>
        </div>
    </section>

    <section class="flex flex-row gap-2 mt-2">
        <div class=" flex flex-column gap-2">
            <div class="flex w-17rem h-19rem border-round justify-content-center align-items-center" [style]="{'background': 'var(--surface-card)'}">
                <p-chart class="w-17rem h-17rem"
                    type="pie"
                    [data]="data3"
                    [options]="options2">
                </p-chart>
            </div>
            <div class="flex w-17rem h-19rem border-round justify-content-center align-items-center" [style]="{'background': 'var(--surface-card)'}">
                <p-chart class="w-17rem h-17rem"
                    type="pie"
                    [data]="data4"
                    [options]="options2">
                </p-chart>
            </div>
        </div>

        <div class="pie flex flex-column gap-2">
            <div class=" border-round h-19rem" [style]="{'background': 'var(--surface-card)'}">
                <p-chart class="h-10rem"
                    type="bar"
                    [data]="data1"
                    [options]="options1">
                </p-chart>
            </div>

        </div>
    </section>
</main>

