<main>
    <!-- Filtros -->
    <section class="flex flex-row align-content-start justify-content-start gap-2 mb-1">
        <p-multiSelect
            [options]="provincias"
            placeholder="Provincias"
            display="chip"
            (onChange)="selectedProvincias($event)"
            [showClear]="true">
        </p-multiSelect>


        <p-dropdown
            [options]="clientesCompras"
            placeholder="Clientes según compras"
            optionLabel="label"
            [showClear]="true"
            (onChange)="selectedClientes($event)">
      </p-dropdown>


    </section>
    <!-- Cards superiores -->
    <section>
        <div class="flex gap-2">
            <alik-dashboard-card
                titulo="Clientes Totales"
                icon="pi-users"
                [numero]="clientes?.length || 30"
                tipo="numero" >
            </alik-dashboard-card>

            <alik-dashboard-card
                titulo="Empresas Totales"
                icon="pi-building"
                [numero]="empresas?.length || 15"
                tipo="numero" >
            </alik-dashboard-card>

            <alik-dashboard-card
                titulo="Crecimiento"
                icon="pi-chart-line"
                [numero]="clientesMesActual?.length || 30"
                tipo="numero"
                [valorAnterior]="clientesMesAnterior?.length || 20" >
            </alik-dashboard-card>

            <div class=" border-round w-full flex flex-column justify-content-center align-items-center" [style]="{'background': 'var(--surface-card)'}">
                <p>Rendimiento</p>
                <ana-speedometer
                    [total]="5400"
                    [valorActual]="5345"
                ></ana-speedometer>
            </div>
        </div>
    </section>

    <section class="flex flex-column gap-2 mt-2">
        <div class=" flex gap-2">
            <div class="flex w-screen h-auto border-round justify-content-center align-items-center" [style]="{'background': 'var(--surface-card)'}">
                <p-chart class="w-15rem h-15rem"
                    type="pie"
                    [data]="data3"
                    [options]="options2">
                </p-chart>
            </div>

            <div class="flex w-screen h-full border-round justify-content-center align-items-center" [style]="{'background': 'var(--surface-card)'}">
                <p-chart class="w-15rem h-15rem"
                    type="pie"
                    [data]="data4"
                    [options]="options2">
                </p-chart>
            </div>
        </div>
        <div class="flex justify-content-center  ">
            <div class=" flex border-round w-full h-full"  [style]="{'background': 'var(--surface-card)'}">
                <p-chart class="  " style="width: 90vh;"
                    type="bar"
                    [data]="data1"
                    [options]="options1">
                </p-chart>
            </div>
        </div>

    </section>
</main>

