<section class="flex w-9 p-2 m-2 gap-2 surface-card border-round align-items-center">

    <p-image
        [src]="pedidoProductos?.producto?.foto"
        alt="Image"
        width="220"
        class="align-self-center">
    </p-image>

    <div class="flex flex-column w-full p-2 m-2 gap-4 justify-content-evenly ">

        <div class=" flex gap-2 justify-content-between align-items-center" >
            <p class=" font-bold text-2xl ">{{pedidoProductos?.producto?.nombre}}</p>
            <input type="text" pInputText [value]="pedidoProductos?.cantidad" pKeyFilter="int" placeholder="Cantidad"  style="width: 120px; height: 30px ;" />
            <p class=" text-2xl">{{pedidoProductos?.producto?.precio_unit}}</p>
        </div>

        <div class="flex justify-content-between">
            <article class=" text-1xl w-7">Frustrated, degraded, down before you're done
                Rejection, depression, can't get what you want
                You ask me how I make my way
                You ask me everywhere and why
                You hang on every word I say
                But the truth sounds like a lie
                Live to win, 'till you die, 'till the light dies in your eyes
                Live to win, take it all, just keep fighting till you fall</article>
            <p-button label="Borrar" icon="pi pi-trash"></p-button>
        </div>

    </div>
</section>
