.tabMenu label{
    padding-left: var(--spacing-4);
}

.claseboba {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: var(--spacing-2);
}

.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--spacing-4) ;
}

.card {
    background-color: var(--surface-card);
    padding: var(--spacing-2);
    border-radius: var(--border-radius);
}

.boton{
    align-self: end;
}

.direcciones{
    display: grid;
    grid-template-columns: 50% 50%;
}


