<p-tabMenu
    (activeItemChange)="onChange($event)"
    [model]="items"
    [activeItem]="activeItem">
</p-tabMenu>

<div class="card">

    <ng-container *ngIf="activeItem?.label && activeItem?.label === 'Informacion'">
        <app-perfil-card [cliente]="cliente"></app-perfil-card>
    </ng-container>

    <ng-container *ngIf="activeItem?.label && activeItem?.label === 'Direcciones'" >
        <div class="top">
            <p-dropdown
                [options]="provincias"
                [(ngModel)]="provinciaSelected"
                name="provinciaSelected"
                optionLabel="nombre"
                [showClear]="true"
                placeholder="Filtra por provincia">
            </p-dropdown>
        </div>

        <div *ngIf="direcciones.length === 0" class="w-full p-5 surface-100 border-round">
            No hay direcciones
        </div>

        <button  pButton label="Agregar Sucursal" (click)="agregarDireccion(cliente?.id_cliente)"></button>
        <button pButton label="Editar Direccion" class="p-button-outlined" (click)="editarDireccion(cliente?.id_cliente)"></button>
        <div class="claseboba" style="margin-top: 20px;">

            <alik-card-direccion
                *ngFor="let direccion of direcciones"
                [direccion]="direccion"
                [fondo]="true">
            </alik-card-direccion>

        </div>
    </ng-container>

    <ng-container *ngIf="activeItem?.label && activeItem?.label === 'Reclamos'" >
        <div class="flex gap-2">
            <ticket-card
                [style]="{'width': '50%'}"
                *ngFor="let reclamo of reclamos"
                [reclamo]="reclamo">
            </ticket-card>
        </div>
        <div *ngIf="reclamos.length === 0" class="w-full p-5 surface-100 border-round">
            No hay reclamos
        </div>
    </ng-container>

    <ng-container *ngIf="activeItem?.label && activeItem?.label === 'Pedidos'" >
        <div class="flex flex-column gap-2">
            <venta-card
                class="w-full"
                *ngFor="let pedido of pedidos"
                [pedido]="pedido">
            </venta-card>
        </div>
        <div *ngIf="pedidos.length === 0" class="w-full p-5 surface-100 border-round">
            No hay pedidos
        </div>
    </ng-container>

</div>
