<p-tabMenu class="tabMenu" (activeItemChange)="onChange($event)" [model]="items" [activeItem]="activeItem"></p-tabMenu>

<div class="card">
    <div class="mb-4">
        <div class="p-buttonset">
            <button pButton label="Agregar colaborador" class="p-button-outlined" (click)="agregarColaborador(empresa?.id_empresa)"></button>
            <button pButton label="Agregar Sucursal" (click)="agregarSucursal(empresa?.id_empresa)"></button>
        </div>
    </div>

    <ng-container *ngIf="activeItem?.label && activeItem?.label === 'Informacion'">
        <app-perfil-card [empresa]="empresa"></app-perfil-card>
    </ng-container>

    <ng-container *ngIf="activeItem?.label && activeItem?.label === 'Sucursales'" >
        <div class="top mb-2">
            <p-dropdown
                [options]="provincias"
                [(ngModel)]="provinciaSelected"
                optionLabel="nombre"
                [showClear]="true"
                placeholder="Filtra por provincia">
            </p-dropdown>
        </div>

        <div class="claseboba">
            <div *ngIf="direcciones.length === 0" class="w-full p-5 surface-100 border-round">
                No hay direcciones
            </div>
            <alik-card-direccion
                *ngFor="let direccion of direcciones"
                [direccion]="direccion"
                [fondo]="true">
            </alik-card-direccion>
        </div>
    </ng-container>

    <ng-container *ngIf="activeItem?.label && activeItem?.label === 'Colaboradores'" >
        <div class="top ">
            <div>
                <input type="text" pInputText placeholder="Nombre del cliente"/>
                <p-dropdown
                    [options]="provincias"
                    [(ngModel)]="provinciaSelected"
                    optionLabel="nombre"
                    [showClear]="true"
                    placeholder="Filtra por provincia">
                </p-dropdown>
            </div>
        </div>
        <div class="claseboba">
            <app-colaborador-card *ngFor="let colaborador of arregloColaboradores" [colaborador]="colaborador"></app-colaborador-card>
        </div>
    </ng-container>

    <ng-container *ngIf="activeItem?.label && activeItem?.label === 'Pedidos'" >
        <div  class="flex flex-column gap-2">
            <venta-card
                class="w-full"
                *ngFor="let pedido of pedidos"
                [pedido]="pedido">
            </venta-card>
        </div>
        <div *ngIf="pedidos.length === 0" class="w-full p-5 surface-100 border-round">
            No hay pedidos
        </div>
    </ng-container>
</div>

