h3{
    margin-top: 20px;
    margin-bottom: 0px;
}
  
p-sidebar{
    text-align: center;
    align-items: center;
}

.stars-client{
    margin-bottom: 20px;
}

textarea{
    margin-bottom: 20px;
}

.boton-form p-button {
position: fixed;
bottom: 20px;
right: 20px; 
z-index: 8;
}

.stars {
    display: block;
    flex-direction: column;
    align-items: center;
}

.stars-client{
    margin-bottom: 40px;
}

h5{
    font-weight: lighter;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 8px;
}

h4{
    font-weight: normal;
    margin-bottom: 25px;
    margin-top: 3px;
}

.formulario{
    display: flex; 
    flex-flow: column;
    justify-content: center; 
    align-items: center; 
    margin-right: 20px;
    margin-left: 20px;
    height: 83vh;
}