/* Ajuste del titulo */
h1 {
    margin: var(--spacing-0) var(--spacing-3) var(--spacing-0) var(--spacing-1);
}

/* Posiciona el boton de agregar al final */
.split-menu  {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--spacing-3);
}

/* Define un fondo para la tabla */
.table_background {
    background-color: var(--surface-a);
}

/* Acomoda el subtitulo */
.subtittle {
    margin: var(--spacing-0);
    padding: var(--spacing-0);
    padding-left: var(--spacing-3);
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-4);
    color: var(--text-color);
}

/* Posiciona los tabs */
.div-p-tabMenu {
    width: max-content;
    margin-left: var(--spacing-1);
    margin-top: var(--spacing-2);
}
