<div class="compra-detail">
    <h3>Orden de compra</h3>
    <p-table class="compra-table" [value]="compra" [tableStyle]="{ 'min-width': '50rem;' }">
        <ng-template pTemplate="body" let-compra>
            <tr>
                <th style="width:25%">Factura N° {{compra.numFactura}}</th>
                <th style="width:21%">{{compra.fecha}}</th>
                <th style="width:70%">{{compra.direccion}}</th>
            </tr>
        </ng-template>
    </p-table>
    <p-table class="productos-table" [value]="products" [tableStyle]="{ 'min-width': '50rem;' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td >{{ product.descripcion }}</td>
                <td>{{ product.cantidad }}</td>
                <td>{{ product.precioUnitario }}</td>
                <td>{{ product.precioTotal }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

