<app-nav-landing-page></app-nav-landing-page>

<div class="background-image">
    <div class="eslogan">
        <h2>Eleva tu negocio a nuevas alturas.</h2>
        <hr>
        <p>Desde la optimización de las operaciones logísticas hasta la visión completa de la distribución, nuestro
            software diseñado para empresas distribuidoras es la solución integral que tu negocio necesita.</p>
        <p-button label="Comenzar" [raised]="true" size="large" class="btn-comenzar" routerLink="app"></p-button>
        <i class="pi pi-angle-down flecha-abajo" style="font-size: var(--text-6xl)"></i>
    </div>

</div>
