<main >
    <!-- Filtros -->
     <!-- Filtros -->
     <section class="flex flex-row align-content-start justify-content-start mb-1 gap-2">
        <p-dropdown [options]="filtroProvincia"  placeholder="Provincia" optionLabel="nombre"></p-dropdown>
        <p-dropdown [options]="filtroFecha" placeholder="Fecha" optionLabel="nombre" ></p-dropdown>
        <p-dropdown [options]="filtroEmpresa" placeholder="Empresa" optionLabel="nombre" ></p-dropdown>
        <p-dropdown [options]="filtroTiempo" placeholder="Género" optionLabel="nombre" ></p-dropdown>

    </section>
    <!-- Cards superiores -->
    <section>
        <div class="flex flex-row justify-content-between">
            <alik-dashboard-card class="mx-2" titulo="Ventas Totales" icon="pi-users" [numero]="120" tipo="numero" [valorAnterior]="85" ></alik-dashboard-card>
            <alik-dashboard-card class="mx-2" titulo="Diferencia Anterior" icon="pi-building" [numero]="58" tipo="numero" [valorAnterior]="49" ></alik-dashboard-card>
            <alik-dashboard-card class="mx-2" titulo="Promedio de pedidos" icon="pi-chart-line" [numero]="54" tipo="numero" [valorAnterior]="24" ></alik-dashboard-card>
            <div class=" border-round w-full flex flex-column justify-content-center align-items-center" [style]="{'background': 'var(--surface-card)'}">
                <p>Rendimiento</p>
                <ana-speedometer
                    [total]="5400"
                    [valorActual]="5345"
                ></ana-speedometer>
            </div>
        </div>
    </section>

    <section class="flex flex-row">
            <div class="flex flex-column align-content-center m-2 border-round h-19rem w-full" [style]="{'background': 'var(--surface-card)'}">
                <label for="lineal1" class="text-center p-2">Comportamiento de las ventas</label>
                <p-chart class="h-10rem p-2" type="line" [data]="data1" [options]="options1" id="lineal1"></p-chart>
            </div>

            <div class="flex flex-column align-content-center m-2 border-round h-19rem w-full" [style]="{'background': 'var(--surface-card)'}">
                <label for="lineal2" class="text-center p-2">Ventas según: filtro</label>
                <p-chart class="h-11rem mt-1 mx-1" type="line" [data]="data1" [options]="options1" id="lineal2"></p-chart>
            </div>
    </section>
</main>

