.chat-input {
    padding: 10px;
    display: flex;
    align-items: center;

  }

  form {
    display: flex;
    flex-grow: 1; 
  }
  
  input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  

  input:focus {
    border-color: #007bff; 
  }
  