/* styles.css */

.product-card {
    width: 350px;
    border-radius: 20px;
    border: 2px solid red;
    z-index: -9999;
    display: flex;
    justify-content: center;
  }

.header-t {
    justify-content: end;
}
  
  .product-description {
    width: 150px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(170, 170, 170, 0.253);
  }
  
  .product-title {
    margin: 5px 0;
    padding: 5px;
    font-weight: bold;
  }
  
  /* Agrega más estilos según sea necesario */
  
  /* Clases para el ícono */
  .icon-circle {
    background-color: green;
    border-radius: 50%;
    position: relative;
    left: 120px;
  }
  
  .icon-stopwatch {
    position: relative;
    top: 68px;
  }
  
  /* Puedes definir otras clases para botones, etiquetas, etc. */
  