

<main>
    <!-- cards -->
    <section class="flex gap-2 mb-2">
        <alik-dashboard-card
            titulo="Productos"
            icon="pi-box"
            [numero]="512"
        ></alik-dashboard-card>

        <alik-dashboard-card
        titulo="Valor del inventario"
            icon="pi-dollar"
            [numero]="2300"
            [valorAnterior]="2150"
            tipo="dinero"
        ></alik-dashboard-card>

        <alik-dashboard-card
        titulo="Marcas"
            icon="pi-verified"
            [numero]="53"
        ></alik-dashboard-card>

        <alik-dashboard-card
        titulo="Categorías"
            icon="pi-tag"
            [numero]="23"
        ></alik-dashboard-card>
    </section>

    <section class="flex gap-2 mb-2">
        <div>
            <div>
                <p-dropdown
                    [options]="filtroProducto"
                    [(ngModel)]="selectedFiltroProducto"
                    (onChange)="defineData1()"
                    [showClear]="true" placeholder="Elige filtrar por Marca o Categoria">
                </p-dropdown>
            </div>

            <div class="p-2 border-round w-full" [style]="{'background': 'var(--surface-card)', 'flex': '2'}">
                <p-chart
                    type="doughnut"
                    [options]="options"
                    [data]="comprasData"
                ></p-chart>
            </div>
        </div>
        

        <div class="p-2 border-round w-full flex flex-column justify-content-center align-items-center" [style]="{'background': 'var(--surface-card)', 'flex': '1'}">
            <h2>Indicador de rendimiento</h2>
            <ana-speedometer
                [total]="5400"
                [valorActual]="5345"
            ></ana-speedometer>
        </div>

    </section>

    <div class="p-2 border-round w-full mb-2" [style]="{'background': 'var(--surface-card)'}">
        <p-chart
            type="bar"
            [options]="options"
            [data]="stockData"
        ></p-chart>
    </div>
</main>
