<section class="mb-2 flex gap-2">
    <div>
        <p-dropdown
            [options]="categorias"
            optionLabel="nombre"
            [showClear]="true" placeholder="Categorias">
        </p-dropdown>

    </div>

    <div>
        <p-dropdown
            [options]="marcas"
            optionLabel="nombre"
            [showClear]="true" placeholder="Marcas">
            <ng-template let-marca pTemplate="item">
                <div [style]="{'display': 'flex', 'alignItems': 'center', 'gap': 'var(--spacing-2)'}" >
                    <img [src]="marca.logo" style="width: 18px">
                    <div>{{ marca.nombre }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
</section>

<main>
    <!-- cards -->
    <section class="flex gap-2 mb-2">
        <alik-dashboard-card
            titulo="Productos"
            icon="pi-box"
            [numero]="productos?.length || 0"
            tipo="numero"
        ></alik-dashboard-card>

        <alik-dashboard-card
        titulo="Valor inventario"
            icon="pi-dollar"
            [numero]="ValorTotalInventario"
            [valorAnterior]="ValorAnteriorInventario"
            tipo="dinero"
        ></alik-dashboard-card>

        <alik-dashboard-card
        titulo="Marcas"
            icon="pi-verified"
            [numero]="marcas?.length || 0"
            tipo="numero"
        ></alik-dashboard-card>

        <alik-dashboard-card
        titulo="Categorías"
            icon="pi-tag"
            [numero]="categorias?.length || 0"
            tipo="numero"
        ></alik-dashboard-card>

        <div class=" border-round w-full flex flex-column justify-content-center align-items-center" [style]="{'background': 'var(--surface-card)'}">
            <p>Rendimiento</p>
            <ana-speedometer
                [total]="5400"
                [valorActual]="5345"
            ></ana-speedometer>
        </div>
    </section>

    <section class="flex gap-2 mr-2">
        <div class="p-2 border-round h-full w-full" [style]="{'background': 'var(--surface-card)', 'flex': '2'}">
            <p-chart
                type="bar"
                [data]="stockData"
                [options]="optionsBarras"
            ></p-chart>
        </div>

        <div>
            <div class="flex w-full h-full border-round justify-content-center align-items-center surface-card">
                <p-chart class=""
                    type="pie"
                    [data]="segmentacionData"
                    [options]="optionsPie">
                </p-chart>
            </div>
        </div>
    </section>
</main>
