<p-toast></p-toast>

<h1 [style]="{'fontSize': 'var(--text-3xl)'}">Producto x</h1>
<div class="div-contenedor">

    <div class="add-photo">
        <div>
            <div [style]="{'display': 'flex', 'justifyContent': 'center'}">
                <alik-image-preview *ngIf="!imagePreview"></alik-image-preview>
                <p-image
                    *ngIf="imagePreview"
                    [src]="imagePreview"
                    alt="Image"
                    width="250"
                    [preview]="true">
                </p-image>
            </div>
            <p-fileUpload
                (onSelect)="selectFile( $event )"
                [multiple]="false"
                accept="image/*"
                [maxFileSize]="1000000">
            </p-fileUpload>
        </div>
    </div>


    <form class="div-form" [formGroup]="form">
        <h2>Información general de la Marca</h2>

        <hr>

        <div class="flex-column gap-2">
            <label>Nombre</label>
            <input pInputText formControlName="nombre">
        </div>

        <div class="flex-column">
            <label>Descripcion</label>
            <textarea
                formControlName="descripcion"
                rows="5"
                cols="30"
                pInputTextarea
                [autoResize]="true"
                pInputText>
            </textarea>
        </div>
    </form>
</div>
