

<form>
    <div class="tableoftwo">
        <div class="header">
            <span class="p-float-label">
                <input pInputText id="nameInforme" [(ngModel)]="nameInforme" name="nameInforme"/>
                <label for="float-label">Nombre del Informe</label>
            </span>
    
            <span class="p-float-label ">
                <p-dropdown [ngModelOptions]="{standalone: true}" [options]="formatos" [(ngModel)]="selectedFormato" optionLabel="nameFormato" name=" data" defaultLabel="Sin selección"></p-dropdown>
                <label for="float-label">Formato</label>
            </span>
        </div>
    </div>
    

    <br>

    <h3>Segmentar según</h3>
    <div class="tableoftwo">

        <div>
            

            <h4>Nombre del Cliente</h4>
            <p-dropdown [ngModelOptions]="{standalone: true}" [options]="clientes" [(ngModel)]="selectedCliente" placeholder="Elije un Cliente"></p-dropdown>


            <span class="p-float-label segment">
                <p-dropdown [ngModelOptions]="{standalone: true}" [options]="generos" [(ngModel)]="selectedGenero" optionLabel="nameGenero" name=" generos" placeholder="Elije un Género"></p-dropdown>
                <label for="float-label">Genero</label>
            </span>

            <span class="p-float-label segment">
                <p-dropdown [ngModelOptions]="{standalone: true}" [options]="estadoPedido" [(ngModel)]="selectedEstadoPedido" name=" data" placeholder="Elije un estado del pedido"></p-dropdown>
                <label htmlFor="username">Estado del pedido</label>
            </span>

        </div>

        <div>
            <span class="p-float-label segment">
                <p-dropdown [ngModelOptions]="{standalone: true}" [options]="provincias" [(ngModel)]="selectedProvincia" name=" provincias" placeholder="Elije una provincia"></p-dropdown>
                <label for="float-label">Provincia</label>
            </span>
                <h4>Producto</h4>
                <p-dropdown [ngModelOptions]="{standalone: true}" [options]="productos" [(ngModel)]="selectedProducto" name=" data"  defaultLabel="Elija el tipo de pago" placeholder="Elije un producto"></p-dropdown><br>
        </div>
    </div>
    <p-button label="Generar Informe" [loading]="loading" loadingIcon="pi pi-spinner" (onClick)="load()" [style]="{'margin-top': 'var(--spacing-5)'}" (click) = "GenerarReporte()" ></p-button>
</form>

