<form action="" class="">
    <div>
        <h1>INFORME DE VENTAS</h1>
        <!-- Nombre del informe -->
        <article >
            <span class="p-float-label">
            <input pInputText id="nameInforme" />
            <label htmlFor="username">Nombre del Informe</label>
            </span>
        </article>

        <h2>Formato del informe</h2>
        <p-dropdown [ngModelOptions]="{standalone: true}" [options]="formatos" [(ngModel)]="selectedFormato" optionLabel="nameFormato"></p-dropdown><br>

        <h2>Tipo de informe</h2>
        <p-dropdown [ngModelOptions]="{standalone: true}" [options]="tiposReportes" [(ngModel)]="selectedReportes" optionLabel="nameReportes"></p-dropdown>
    </div>
    <!-- SEGMENTOS -->
    <section>
        <h2>Segmentar según: </h2>
        <article>
            <h3>Identificación de la venta</h3>
            <span class="p-float-label">
                <input pInputText id="nameInforme" />
                <label htmlFor="username">ID PEDIDO</label>
            </span>
        </article>

        <h3>Rango de Fechas</h3><br>
        <span>
            <p-calendar [(ngModel)]="dates" selectionMode="multiple" [readonlyInput]="true" [showIcon]="true"></p-calendar>
        </span>

        <article>
            <h2>Estado del pedido</h2>
            <p-dropdown [ngModelOptions]="{standalone: true}" [options]="pedidos" [(ngModel)]="selectedPedidos" optionLabel="nameTiposPedidos"></p-dropdown>
        </article>

        <article> <!-- TIPO MARCA -->
            <h3>Marca</h3>
            <p-multiSelect [ngModelOptions]="{standalone: true}" [options]="marcas" [(ngModel)]="selectedMarcas" defaultLabel="Elija una Marca" optionLabel="nameMarca" display="chip"></p-multiSelect>
        </article>
        <p-button label="Generar Informe" [loading]="loading" loadingIcon="pi pi-spinner" (onClick)="load()" [style]="{'margin-top': 'var(--spacing-5)'}"></p-button>
    </section>
</form>

